@font-face {
  font-family: "family";
  src: url("https://fonts.gstatic.com/s/overpass/v12/qFdD35WCmI96Ajtm81G5Q0U.woff2")
    format("woff2");
  font-weight: 400, 700;
  font-style: normal;
}
* {
  font-family: "family", sans-serif;
  color: white;
}
button {
  color: hsl(217, 12%, 63%);
  background-color: hsl(213, 19%, 18%);
  border: none;
  font-size: 16px;
  font-weight: 400;
  padding: 20px 25px;
  border-radius: 30px;
  cursor: pointer;
}
body {
  background-color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  background-color: hsl(216, 12%, 8%);
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 40px;
  padding: 40px;
}
.icon {
  background-color: hsl(213, 19%, 18%);
  width: 30px;
  border-radius: 30px;
  padding: 10px;
}
h1 {
  font-weight: 700;
  margin-bottom: 20px;
  padding: 0px;
}
p {
  color: hsl(217, 12%, 63%);
}
.actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}
.numbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.sb {
  width: 100%;
  margin-top: 20px;
  background-color: hsl(25, 97%, 53%);
  color: white;
  cursor: pointer;
}
.sb:active {
  background-color: white;
  color: black;
}
.active {
  background-color: white;
}
button:hover {
  background-color: hsl(25, 97%, 53%);
  color: white;
  transition: 0.3s;
}
.sub-card {
  background-color: hsl(216, 12%, 8%);
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 40px;
  padding: 40px;
}
.js {
  background-color: hsl(213, 19%, 18%);
  color: hsl(25, 97%, 53%);
  font-size: 16px;
  margin-bottom: 20px;
  padding: 10px 15px;
  border-radius: 30px;
}
.th {
  width: 200px;

  margin-bottom: 20px;
}
.thH1 {
  margin-bottom: 10px;
  padding: 0px;
}
